.idea/
*.o
*.log
*~
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
*.pyc

.vagrant/

# Executables
bin/
router/sr-rerouted
endhost/sr-endhostd
server/sr-serverd

endhost/linux-*

nsdi.pdf
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.fdb_latexmk
*.fls
*.latexmain
*.synctex.gz
.idea

