[submodule "endhost/kernel"]
	path = endhost/kernel
	url = git@github.com:jadinm/sr-icmp-kernel.git
	branch = v4.16-sr-icmp
[submodule "srn-dev"]
	path = srn-dev
	url = git@bitbucket.org:jadinm/srn-dev.git
	branch = dev
[submodule "sr-optim"]
	path = sr-optim
	url = git@bitbucket.org:pschaus/sr-optim.git
	branch = sricmp
